DJANGO_SECRET_KEY=your_secret_key_here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
ON_RENDER=False

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123

# ==============================================================================
# Переключение БД (3 режима: 'sqlite', 'postgres', 'url')
# ==============================================================================
# 1. 'sqlite'   -> Локально разработчиком (просто SQLite)
# 2. 'postgres' -> В Docker через docker-compose (судьи / локальный тестер)
# 3. 'url'      -> Для деплоя на Render (Supabase / Neon / Render Postgres)
DB_MODE=sqlite

DB_NAME=web_db
DB_USER=postgres
DB_PASSWORD=postgres_password
DB_HOST=db
DB_PORT=5432

DATABASE_URL=postgres://user:pass@ep-cool-site.us-east-1.aws.neon.tech/neondb

USE_S3_MEDIA=False
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_S3_ENDPOINT_URL=https://storage.yandexcloud.net

RESEND_API_KEY=your-resend-api-key
DEFAULT_FROM_EMAIL=noreply@notifications.it-lyceist.ru

YANDEX_OAUTH2_KEY=your_yandex_key
YANDEX_OAUTH2_SECRET=your_yandex_secret

GITHUB_OAUTH2_KEY=your_github_key
GITHUB_OAUTH2_SECRET=your_github_secret

GOOGLE_OAUTH2_KEY=your_google_key
GOOGLE_OAUTH2_SECRET=your_google_secret